.nav{
  display:flex;
/* align-items:center; */
justify-content:space-evenly;
padding:15px;
gap:30px;
background:rgb(62, 47, 50);

}

.btn{
  /* margin: 20px 40px; */
  padding: 10px 30px;
  border-radius: 4px;
  background-color: aquamarine;
  color: rgb(40, 192, 37);
  font-size: 20px;
  border: none;

}
.btn:hover{
  cursor: pointer;
  background-color: #ffff;
}
